 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 736px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 6rem;
  margin: 82px 475px 0 415px;
}

.u-section-1 .u-list-1 {
  width: 942px;
  margin: 129px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 238px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 6px 10px;
}

.u-section-1 .u-group-1 {
  width: 156px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: 0 auto 0 13px;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 4.5rem;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 10px 70px 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 6px 10px;
}

.u-section-1 .u-group-2 {
  width: 156px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: 0 auto 0 13px;
}

.u-section-1 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-4 {
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 4.5rem;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 10px 70px 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 6px 10px;
}

.u-section-1 .u-group-3 {
  width: 156px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: 0 auto 0 13px;
}

.u-section-1 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-6 {
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-size: 3.75rem;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  margin: 10px 70px 0 auto;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-7 {
  padding: 6px 10px;
}

.u-section-1 .u-group-4 {
  width: 156px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: 0 auto 0 13px;
}

.u-section-1 .u-container-layout-8 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-8 {
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-size: 4.5rem;
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  margin: 10px 70px 0 auto;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 315px;
    margin-right: 375px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 237px;
  }

  .u-section-1 .u-text-2 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-btn-1 {
    text-transform: none;
  }

  .u-section-1 .u-text-4 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-btn-3 {
    text-transform: none;
  }

  .u-section-1 .u-text-6 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-btn-5 {
    text-transform: none;
  }

  .u-section-1 .u-text-8 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-btn-7 {
    text-transform: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 205px;
    margin-right: 265px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 210px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 750px;
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 115px;
    margin-right: 175px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 250px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 15px;
    margin-right: 75px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-1 {
    margin-top: 370px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.u-section-1 .u-group-1,
.u-section-1 .u-group-1:before,
.u-section-1 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-1.u-group-1.u-group-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #b1e2f4 !important;
}

.u-section-1 .u-group-1.u-group-1.u-group-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #b1e2f4 !important;
}

.u-section-1 .u-container-layout:hover .u-group-1:before {
  background-color: #41807c !important;
}

.u-section-1 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-2,
.u-section-1 .u-group-2:before,
.u-section-1 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-2.u-group-2.u-group-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #b1e2f4 !important;
}

.u-section-1 .u-group-2.u-group-2.u-group-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #b1e2f4 !important;
}

.u-section-1 .u-container-layout:hover .u-group-2:before {
  background-color: #41807c !important;
}

.u-section-1 .u-container-layout:hover .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-3,
.u-section-1 .u-group-3:before,
.u-section-1 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-3.u-group-3.u-group-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #b1e2f4 !important;
}

.u-section-1 .u-group-3.u-group-3.u-group-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #b1e2f4 !important;
}

.u-section-1 .u-container-layout:hover .u-group-3:before {
  background-color: #41807c !important;
}

.u-section-1 .u-container-layout:hover .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-group-4,
.u-section-1 .u-group-4:before,
.u-section-1 .u-group-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-group-4.u-group-4.u-group-4:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #b1e2f4 !important;
}

.u-section-1 .u-group-4.u-group-4.u-group-4.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #b1e2f4 !important;
}

.u-section-1 .u-container-layout:hover .u-group-4:before {
  background-color: #41807c !important;
}

.u-section-1 .u-container-layout:hover .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  color: #47bae3 !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  color: #47bae3 !important;
}

.u-section-1 .u-container-layout:hover .u-text-2 {
  color: #47bae3 !important;
}

.u-container-layout.hover .u-section-1 .u-text-2 {
  color: #47bae3 !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-4.u-text-4.u-text-4:hover {
  color: #47bae3 !important;
}

.u-section-1 .u-text-4.u-text-4.u-text-4.hover {
  color: #47bae3 !important;
}

.u-section-1 .u-container-layout:hover .u-text-4 {
  color: #47bae3 !important;
}

.u-container-layout.hover .u-section-1 .u-text-4 {
  color: #47bae3 !important;
}

.u-section-1 .u-text-6,
.u-section-1 .u-text-6:before,
.u-section-1 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-6.u-text-6.u-text-6:hover {
  color: #47bae3 !important;
}

.u-section-1 .u-text-6.u-text-6.u-text-6.hover {
  color: #47bae3 !important;
}

.u-section-1 .u-container-layout:hover .u-text-6 {
  color: #47bae3 !important;
}

.u-container-layout.hover .u-section-1 .u-text-6 {
  color: #47bae3 !important;
}

.u-section-1 .u-text-8,
.u-section-1 .u-text-8:before,
.u-section-1 .u-text-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-8.u-text-8.u-text-8:hover {
  color: #47bae3 !important;
}

.u-section-1 .u-text-8.u-text-8.u-text-8.hover {
  color: #47bae3 !important;
}

.u-section-1 .u-container-layout:hover .u-text-8 {
  color: #47bae3 !important;
}

.u-container-layout.hover .u-section-1 .u-text-8 {
  color: #47bae3 !important;
}